@media screen and (max-width: 376px) {
    .top_logo__link{
        display: none;
    }
    .liked_link{
        display: none;
    }
    .history_link{
        display: none;
    }
    .pagination_block{
        width: 30%;
    }
    .pagination_liked{
        justify-content: flex-end;
    }
    .pagination_history{
        justify-content: flex-end;
    }
    nav{
        min-height: 250px;
    }
    .input_search{
        font-size: 36px;
        line-height: 43px;
    }
    .nav_text_block {
        width: 100%;
    }
    .nav_text_block a{
        white-space: nowrap;
        margin-right: 15px;
    }
    .type_selection_block{
        width: 25%;
    }
    .main_gallery_block {
        flex-direction: column;
    }
    .firstRow_image_first{
        width: 330.82px;
        min-height: 180.83px;
        background-image: url(../img/media-image/first_girl.png);
    }
    .firstRow_image_second{
        width: 330.92px;
        min-height: 497.28px;
        background-image: url(../img/media-image/mercedes.png);
    }
    .firstRow_image_third{
        width: 330.92px;
        min-height: 180.83px;
        background-image: url(../img/media-image/elephants.png);
    }
    .firstRow_image_four{
        width: 330.92px;
        min-height: 330.92px;
        background-image: url(../img/media-image/juke.png);
    }
    .firstRow_image_five{
        width: 330.92px;
        min-height: 180.83px;
        background-image: url(../img/media-image/street.png);
    }
    .firstRow_image_six{
        width: 330.92px;
        min-height: 330.92px;
        background-image: url(../img/media-image/design.png);
    }
    .firstRow_image_seven{
        width: 331px;
        min-height: 493px;
        background-image: url(../img/media-image/second_girl.png);
    }
    .secondRow_image_first{
        width: 330.92px;
        min-height: 497.28px;
        background-image: url(../img/media-image/records.png);
    }
    .secondRow_image_second{
        width: 330.92px;
        min-height: 180.83px; 
        background-image: url(../img/media-image/merry.png);
    }
    .secondRow_image_third{
        width: 330.92px;
        min-height: 497.28px;
        background-image: url(../img/media-image/men.png);
    }
    .secondRow_image_four{
        width: 330.92px;
        min-height: 180.83px;
        background-image: url(../img/stol.png);
    }
    .secondRow_image_five{
        width: 330.92px;
        min-height: 330.92px;
        background-image: url(../img/media-image/worth.png);
    }
    .secondRow_image_six{
        width: 330.92px;
        min-height: 180.83px;  
        background-image: url(../img/media-image/rasta.png);
    }
    .secondRow_image_seven{
        width: 330.92px;
        min-height: 329.63px;
        background-image: url(../img/media-image/yellow.png);
    }

    .thirdRow{
        display: none;
    }
}