@media screen and (max-width: 1850px){
    .nav_text_inner a:nth-child(5){
        display: none;
    }
    .nav_text_inner a:nth-child(6){
        display: none;
    }
    .nav_text_inner a:nth-child(8){
        display: none;
    }
}

@media screen and (max-width: 1650px) and (min-width: 1601px) {
    .pagination_block{
        width: 25%;
    }
}

@media screen and (max-width: 1600px) {
    .top_logo{
        width: 88%;
    }
    .nav_text_inner a:nth-child(2){
        display: none;
    }
    .nav_text_inner a:nth-child(3){
        display: none;
    }
    .innerBlock{
        justify-content: center;
        align-items: center;
    }
    .top_logo__content{
        width: 24%;
    }
    .top_logo_block {
        width: 21%;
    }
    .pagination_block{
        width: 29%;
    }
    .thirdRow{
        display: none;
    }
}

@media screen and (max-width: 1550px) {
    .pagination_history{
        width: 75%;
        justify-content: space-evenly;
    }
    .pagination_liked{
        width: 59%;
        justify-content: space-evenly;
    }
    .type_selection_block{
        width: 8%;
    }
}

@media screen and (max-width: 1549px) and (min-width: 1025px) {
    .pagination_block{
        width: 44%;
    }

}

@media screen and (max-width: 1024px) {
    .nav_text_inner a:nth-child(4){
        display: none;
    }
    .nav_text_inner a:nth-child(11){
        display: none;
    }
    .liked_link, .history_link, .top_link_block{
        display: none;
    }
    .thirdRow{
        display: none;
    }
    .main_gallery_block{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .main_gallery__row div{
        margin-bottom: 20px;
    }
    .firstRow_image_first{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/first_girl.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_second{
        width: 100%;
        min-height: 497.28px;
        background-image: url(../img/media-image/mercedes.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_third{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/elephants.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_four{
        width: 100%;
        min-height: 330.92px;
        background-image: url(../img/media-image/juke.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_five{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/street.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_six{
        width: 100%;
        min-height: 330.92px;
        background-image: url(../img/media-image/design.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_seven{
        width: 100%;
        min-height: 493px;
        background-image: url(../img/media-image/second_girl.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_first{
        width: 100%;
        min-height: 497.28px;
        background-image: url(../img/media-image/records.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_second{
        width: 100%;
        min-height: 180.83px; 
        background-image: url(../img/media-image/merry.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_third{
        width: 100%;
        min-height: 497.28px;
        background-image: url(../img/media-image/men.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_four{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/stol.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_five{
        width: 100%;
        min-height: 330.92px;
        background-image: url(../img/media-image/worth.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_six{
        width: 100%;
        min-height: 180.83px;  
        background-image: url(../img/media-image/rasta.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_seven{
        width: 100%;
        min-height: 329.63px;
        background-image: url(../img/media-image/yellow.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media screen and (max-width: 900px) {
    .type_selection_block{
        width: 12%;
    }
}

@media screen and (max-width: 790px) and (min-width: 500px) {
    .gallery_body_inner{
        width: 95%;
    }
    .main_gallery__row{
        width: 49%;
    }
}

@media screen and (max-width: 600px) {
    .nav_text_block{
        width: 88%;
    }
    .nav_text_inner a:nth-child(7){
        display: none;
    }
    .nav_text_inner a:nth-child(9){
        display: none;
    }
    .type_selection_block{
        width: 18%;
    }
    .firstRow div, .secondRow div{
        margin-bottom: 20px;
    }
    .firstRow_image_first{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/first_girl.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_second{
        width: 100%;
        min-height: 497.28px;
        background-image: url(../img/media-image/mercedes.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_third{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/elephants.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_four{
        width: 100%;
        min-height: 330.92px;
        background-image: url(../img/media-image/juke.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_five{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/street.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_six{
        width: 100%;
        min-height: 330.92px;
        background-image: url(../img/media-image/design.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstRow_image_seven{
        width: 100%;
        min-height: 493px;
        background-image: url(../img/media-image/second_girl.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_first{
        width: 100%;
        min-height: 497.28px;
        background-image: url(../img/media-image/records.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_second{
        width: 100%;
        min-height: 180.83px; 
        background-image: url(../img/media-image/merry.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_third{
        width: 100%;
        min-height: 497.28px;
        background-image: url(../img/media-image/men.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_four{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/stol.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_five{
        width: 100%;
        min-height: 330.92px;
        background-image: url(../img/media-image/worth.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_six{
        width: 100%;
        min-height: 180.83px;  
        background-image: url(../img/media-image/rasta.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .secondRow_image_seven{
        width: 100%;
        min-height: 329.63px;
        background-image: url(../img/media-image/yellow.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media screen  and (max-width: 499px) {
    .main_gallery_block{
        flex-direction: column;
    }
}

@media screen and (max-width: 376px) {
    .top_logo__link{
        display: none;
    }
    .liked_link{
        display: none;
    }
    .history_link{
        display: none;
    }
    .pagination_block{
        width: 30%;
    }
    .pagination_liked{
        justify-content: flex-end;
    }
    .pagination_history{
        justify-content: flex-end;
    }
    nav{
        min-height: 26vh;
    }
    .input_search{
        font-size: 36px;
        line-height: 43px;
    }
    .nav_text_block {
        width: 100%;
    }
    .nav_text_block a{
        white-space: nowrap;
        margin-right: 15px;
    }
    .type_selection_block{
        width: 25%;
    }
    .main_gallery_block {
        flex-direction: column;
    }
    .firstRow div{
        margin-bottom: 20px;
    }
    .secondRow div{
        margin-bottom: 20px;
    }
    .firstRow_image_first{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/first_girl.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .firstRow_image_second{
        width: 100%;
        min-height: 497.28px;
        background-image: url(../img/media-image/mercedes.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .firstRow_image_third{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/elephants.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .firstRow_image_four{
        width: 100%;
        min-height: 330.92px;
        background-image: url(../img/media-image/juke.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .firstRow_image_five{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/street.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .firstRow_image_six{
        width: 100%;
        min-height: 330.92px;
        background-image: url(../img/media-image/design.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .firstRow_image_seven{
        width: 100%;
        min-height: 493px;
        background-image: url(../img/media-image/second_girl.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .secondRow_image_first{
        width: 100%;
        min-height: 497.28px;
        background-image: url(../img/media-image/records.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .secondRow_image_second{
        width: 100%;
        min-height: 180.83px; 
        background-image: url(../img/media-image/merry.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .secondRow_image_third{
        width: 100%;
        min-height: 497.28px;
        background-image: url(../img/media-image/men.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .secondRow_image_four{
        width: 100%;
        min-height: 180.83px;
        background-image: url(../img/media-image/stol.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .secondRow_image_five{
        width: 100%;
        min-height: 330.92px;
        background-image: url(../img/media-image/worth.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .secondRow_image_six{
        width: 100%;
        min-height: 180.83px;  
        background-image: url(../img/media-image/rasta.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }
    .secondRow_image_seven{
        width: 100%;
        min-height: 329.63px;
        background-image: url(../img/media-image/yellow.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
    }

    .thirdRow{
        display: none;
    }
}

