@charset "UTF-8";
@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Bold.eot");
  src: local("☺"), url("../fonts/SFUIDisplay-Bold.woff") format("woff"), url("../fonts/SFUIDisplay-Bold.ttf") format("truetype"), url("../fonts/SFUIDisplay-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Regular.eot");
  src: local("☺"), url("../fonts/SFUIDisplay-Regular.woff") format("woff"), url("../fonts/SFUIDisplay-Regular.ttf") format("truetype"), url("../fonts/SFUIDisplay-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.header_body {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBlock {
  width: 79%;
  min-height: 400px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.top_logo {
  width: 100%;
  height: 150px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.top_logo__content {
  background-color: #000;
  width: 34%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.top_logo_block {
  width: 26%;
  display: flex;
  justify-content: flex-end;
}

.top_link_block {
  width: 63%;
  display: flex;
}

.top_logo__link {
  font-family: "SFUIDisplay";
  font-weight: bold;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  line-height: 29px;
}

.pagination_block {
  width: 21.2%;
  min-height: 54px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.pagination_liked {
  background-color: #000;
  width: 126px;
  display: flex;
  justify-content: space-between;
}

.liked_link {
  text-decoration: none;
  font-family: "SFUIDisplay";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.pagination_history {
  background-color: #000;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.history_link {
  text-decoration: none;
  font-family: "SFUIDisplay";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-right: 3px;
}

nav {
  height: 250px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_text_block {
  display: flex;
  height: 19%;
  width: 80%;
  align-items: center;
}
.nav_text_block .nav_text_inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_text_block .nav_text_inner a {
  font-family: "SFUIDisplay";
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.nav_text_inner a:nth-child(10) {
  background: linear-gradient(45deg, #ffffff 33%, #7a7a7a 66%, #7a7a7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_text_inner a:nth-child(11) {
  background: linear-gradient(45deg, #7a7a7a 33%, #494949 66%, #3d3d3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_text_inner a:nth-child(12) {
  background: linear-gradient(45deg, #3d3d3d 33%, #2e2e2e 66%, #00000063);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_search_block {
  width: 100%;
  height: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input_search {
  border: none;
  font-family: "SFUIDisplay";
  font-weight: normal;
  font-style: normal;
  width: 83%;
  height: 83%;
  background: none;
  font-size: 72px;
  line-height: 85, 92px;
  text-align: center;
  color: #fff;
  outline: none;
  display: flex;
}

.input_line {
  width: 80%;
  height: 1px;
  display: flex;
  background: linear-gradient(to right, #111, #ffffff, #111);
}

.input_search::-webkit-input-placeholder {
  color: #fff;
}

.input_search::-moz-placeholder {
  color: #fff;
}

.gallery_body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.gallery_body_inner {
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}

.type_selection__inner {
  width: 100%;
  height: 172px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type_selection_block {
  width: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type_selection_width {
  width: 23px;
  height: 23px;
  background-image: url(../img/typewidth.svg);
  padding: 0;
  border: none;
}

.type_selection_square {
  width: 23px;
  height: 23px;
  background-image: url(../img/typeq.svg);
  padding: 0;
  border: none;
}

.main_gallery_block {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: auto;
  justify-content: space-evenly;
  align-items: flex-start;
}

.main_gallery__row {
  width: 100%;
  display: flex;
  min-height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.firstRow_image_first {
  width: 503px;
  min-height: 270px;
  margin-bottom: 20px;
  background-image: url(../img/first_girl.png);
}
.firstRow_image_first a {
  width: 100%;
  min-height: 270px;
  display: block;
}

.firstRow_image_second {
  width: 476px;
  min-height: 715px;
  background-image: url(../img/mercedes.png);
}

.firstRow_image_third {
  width: 474px;
  min-height: 258px;
  background-image: url(../img/elephantscrop.png);
}

.firstRow_image_four {
  width: 503px;
  min-height: 488px;
  background-image: url(../img/juke.png);
}

.firstRow_image_five {
  width: 503px;
  min-height: 273px;
  background-image: url(../img/street.png);
}

.firstRow_image_six {
  width: 476px;
  min-height: 476px;
  background-image: url(../img/designcrop.png);
}

.firstRow_image_seven {
  width: 503px;
  min-height: 759px;
  background-image: url(../img/girl.png);
}

.secondRow_image_first {
  width: 503px;
  min-height: 728px;
  background-image: url(../img/records.png);
}

.secondRow_image_second {
  width: 503px;
  min-height: 273px;
  background-image: url(../img/merry.png);
}

.secondRow_image_third {
  width: 503px;
  min-height: 726px;
  background-image: url(../img/men.png);
}

.secondRow_image_four {
  width: 503px;
  min-height: 272px;
  background-image: url(../img/stol.png);
}

.secondRow_image_five {
  width: 503px;
  min-height: 487px;
  background-image: url(../img/worth.png);
}

.secondRow_image_six {
  width: 503px;
  min-height: 273px;
  background-image: url(../img/rasta.png);
}

.secondRow_image_seven {
  width: 503px;
  min-height: 486px;
  background-image: url(../img/yellow.png);
}

.thirdRow_image_first {
  width: 505px;
  height: 494px;
  background-image: url(../img/nigga.png);
}

.thirdRow_image_second {
  width: 493px;
  height: 727px;
  background-image: url(../img/photo.png);
}

.thirdRow_image_third {
  width: 494px;
  height: 272px;
  background-image: url(../img/fruicts.png);
}

.thirdRow_image_four {
  width: 495px;
  height: 486px;
  background-image: url(../img/gtr.png);
}

.thirdRow_image_five {
  width: 494px;
  height: 271px;
  background-image: url(../img/mountain.png);
}

.thirdRow_image_six {
  width: 495px;
  height: 726px;
  background-image: url(../img/second_mountain.png);
}

.thirdRow_image_seven {
  width: 495px;
  height: 271px;
  background-image: url(../img/para.png);
}

/*# sourceMappingURL=style.css.map */
