// ==========COLOR==============

$colorBlack: #000
$colorWhite: #fff
// =============================

// ==========FONT===============
@font-face
    font-family: 'SFUIDisplay'
    src: url('../fonts/SFUIDisplay-Bold.eot')
    src: local('☺'), url('../fonts/SFUIDisplay-Bold.woff') format('woff'), url('../fonts/SFUIDisplay-Bold.ttf') format('truetype'), url('../fonts/SFUIDisplay-Bold.svg') format('svg')
    font-weight: bold
    font-style: normal

@font-face
    font-family: 'SFUIDisplay'
    src: url('../fonts/SFUIDisplay-Regular.eot')
    src: local('☺'), url('../fonts/SFUIDisplay-Regular.woff') format('woff'), url('../fonts/SFUIDisplay-Regular.ttf') format('truetype'), url('../fonts/SFUIDisplay-Regular.svg') format('svg')
    font-weight: normal
    font-style: normal

// =============================

// ==========MIXINS=============
@mixin reset()
    margin: 0 auto
    padding: 0

@mixin link()
    text-decoration: none
// =============================

body
    @include reset()

a
    @include link()

// ==========START HEADER===========
.header_body
    width: 100%
    background-color: $colorBlack
    display: flex
    justify-content: center
    align-items: center

.innerBlock
    width: 79%
    min-height: 400px
    // background-color: #b42626
    background-color: $colorBlack
    display: flex
    flex-direction: column

.top_logo
    width: 100%
    height: 150px
    // background-color: #f83b22
    background-color: $colorBlack
    display: flex
    flex-direction: row
    align-items: flex-end
    justify-content: space-between

.top_logo__content
    // background-color: #01187e
    background-color: $colorBlack
    width: 34%
    min-height: 60px
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: space-between

.top_logo_block
    width: 26%
    display: flex
    justify-content: flex-end

.top_link_block
    width: 63%
    display: flex

.top_logo__link
    font-family: 'SFUIDisplay'
    font-weight: bold
    font-style: normal
    color: $colorWhite
    font-size: 24px
    line-height: 29px

.pagination_block
    width: 21.2%
    min-height: 54px
    // background-color: #e100ff
    background-color: $colorBlack
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start

.pagination_liked
    // background-color: #002fff
    background-color: $colorBlack
    width: 126px
    display: flex
    justify-content: space-between

.liked_link
    @include link()
    font-family: 'SFUIDisplay'
    font-weight: normal
    font-style: normal
    font-size: 18px
    line-height: 21px
    color: $colorWhite

.pagination_history
    // background-color: #0228ff
    background-color: $colorBlack
    width: 170px
    display: flex
    justify-content: space-between

.history_link
    @include link()
    font-family: 'SFUIDisplay'
    font-weight: normal
    font-style: normal
    font-size: 18px
    line-height: 21px
    color: $colorWhite
    margin-right: 3px

nav
    height: 250px
    // background-color: #5ff132
    background-color: $colorBlack
    display: flex
    flex-direction: column
    align-items: center

.nav_text_block
    display: flex
    height: 19%
    width: 80%
    align-items: center
    justify-content: space-between
    a
        font-family: 'SFUIDisplay'
        font-weight: normal
        font-style: normal
        @include link()
        font-size: 18px
        line-height: 21px
        color: $colorWhite

.main_search_block
    width: 100%
    height: 50%
    // background-color: #00e1ff
    background-color: $colorBlack
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center

.input_search
    border: none
    font-family: 'SFUIDisplay'
    font-weight: normal
    font-style: normal
    width: 83%
    height: 83%
    background: none
    font-size: 72px
    line-height: 85,92px
    text-align: center
    color: $colorWhite
    outline: none
    display: flex

.input_line
    width: 80%
    height: 1px
    display: flex
    background: linear-gradient(to right, #111 , #ffffff , #111 )

.input_search::-webkit-input-placeholder
    color: $colorWhite

.input_search::-moz-placeholder
    color: $colorWhite

.gallery_body
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    // background-color: #d81919
    background-color: $colorWhite

.gallery_body_inner
    width: 88%
    display: flex
    justify-content: center
    align-items: flex-start
    flex-direction: column
    // background-color: #4321db
    background-color: $colorWhite

.type_selection__inner
    width: 100%
    height: 172px
    // background-color: #cc00e7
    background-color: $colorWhite
    display: flex
    justify-content: center
    align-items: center

.type_selection_block
    width: 5%
    display: flex
    justify-content: space-between
    align-items: center
    // background-color: #07c016

.type_selection_width
    width: 23px
    height: 23px
    background-image: url(../img/typewidth.svg)
    padding: 0
    border: none

.type_selection_square
    width: 23px
    height: 23px
    background-image: url(../img/typeq.svg)
    padding: 0
    border: none

.main_gallery_block
    display: flex
    flex-direction: row
    width: 100%
    min-height: auto
    justify-content: space-evenly
    align-items: flex-start

.main_gallery__row
    width: 100%
    display: flex
    min-height: auto
    flex-direction: column
    align-items: center
    justify-content: flex-start

// FIRST ROW GALLERY ============================================== START
.firstRow_image_first
    width: 489px
    min-height: 270px
    background-image: url(../img/first_girl.png)

.firstRow_image_second
    width: 476px
    min-height: 715px
    background-image: url(../img/mercedes.png)

.firstRow_image_third
    width: 474px
    min-height: 258px
    background-image: url(../img/elephantscrop.png)

.firstRow_image_four
    width: 503px
    min-height: 488px
    background-image: url(../img/juke.png)

.firstRow_image_five
    width: 503px
    min-height: 273px
    background-image: url(../img/street.png)

.firstRow_image_six
    width: 476px
    min-height: 476px
    background-image: url(../img/designcrop.png)

.firstRow_image_seven
    width: 503px
    min-height: 759px
    background-image: url(../img/girl.png)

// FIRST ROW GALLERY ================================= END

//  SECOND ROW GALLERY ================================== START
.secondRow_image_first
    width: 503px
    min-height: 728px
    background-image: url(../img/records.png)
.secondRow_image_second
    width: 503px
    min-height: 273px
    background-image: url(../img/merry.png)
.secondRow_image_third
    width: 503px
    min-height: 726px
    background-image: url(../img/men.png)
.secondRow_image_four
    width: 503px
    min-height: 272px
    background-image: url(../img/stol.png)
.secondRow_image_five
    width: 503px
    min-height: 487px
    background-image: url(../img/worth.png)
.secondRow_image_six
    width: 503px
    min-height: 273px
    background-image: url(../img/rasta.png)
.secondRow_image_seven
    width: 503px
    min-height: 486px
    background-image: url(../img/yellow.png)
// SECOND ROW GALLERY ========================= END

// THIRD ROW GALLERY ========================== START
.thirdRow_image_first
    width: 476px
    height: 476px
    background-image: url(../img/nigga.png)
.thirdRow_image_second
    width: 476px
    height: 715px
    background-image: url(../img/photo.png)
.thirdRow_image_third
    width: 476px
    height: 260px
    background-image: url(../img/fruicts.png)
.thirdRow_image_four
    width: 476px
    height: 475px
    background-image: url(../img/gtr.png)
.thirdRow_image_five
    width: 476px
    height: 260px
    background-image: url(../img/mountain.png)
.thirdRow_image_six
    width: 476px
    height: 715px
    background-image: url(../img/second_mountain.png)
.thirdRow_image_seven
    width: 476px
    height: 260px
    background-image: url(../img/para.png)
